
/* override TabularInline field width */

.field-pn .vTextField {
    width: 10em;
}

.field-bin .vTextField {
    width: 10em;
}

.field-description .vTextField {
    width: 15em;
}

.field-unit .vTextField {
    width: 15em;
}

.field-unit .vTextField {
    width: 7em;
}

.field-balance input {
    width: 7em;
}


/* hide admin original */
td.original p {
  visibility: hidden
}

.inline-group .tabular tr.has_original td {
    padding-top: 5px;
}

