{% extends 'admin/change_form.html' %}
{% load fsm_admin partsrecycle_tags i18n admin_urls admin_static admin_modify %} 

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>

&rsaquo;
{% if has_change_permission %}
<a href="{% url opts|admin_urlname:'changelist'|status_urlname:status %}">
{% if status != -1 %}
{{ status|status_menu_name }}
{% else %}
{{ opts.verbose_name_plural|capfirst }}
{% endif %}
</a>
{% else %}
{{ opts.verbose_name_plural|capfirst }}
{% endif %}

&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history'|status_urlname:status original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}

{% block submit_buttons_bottom %}
{% if status <= STATUS.REPAIR %}
{% fsm_submit_row %}
{% endif %}
{% endblock %}

{% block after_field_sets %}
    {{ block.super }}
    {% block transition_hints %}{% fsm_transition_hints %}{% endblock %}
{% endblock %} 
