{% extends "admin/object_history.html" %}
{% load i18n admin_urls partsrecycle_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist'|status_urlname:status %}">{% if status != -1 %}{{ status|status_menu_name }}{% else %}{{ module_name }}{% endif %}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change'|status_urlname:status object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'History' %}
</div>
{% endblock %}
